<section class="ChangeWrapper">
    <div class="leftSideWrapper">
        <img src="../../../assets/Login_SideBanner_Png.png" alt="sidebanner_image">
    </div>

    <div class="rightSideWrapper">
        <div class="logoWrapper">
            <img src="../../../assets/Logo.png" alt="login_logo">
        </div>

        <div class="changePasswordForm_Wrapper">
            <form [formGroup]="changePasswordForm"  (submit)="onSubmitChangePasswordForm()" >
                <div class="heading">
                    <p>Change Password</p>
                </div>

                <div class="passwordWrapper InputWrapper">
                    <label for="userOldPassword">Enter your old password</label>
                    <input type="password" name="oldPassword" id="userOldPassword" formControlName="oldPassword" placeholder="Old Password" autocomplete="off">
                    <span class="text_Validator" *ngIf="changePasswordForm.get('oldPassword')?.touched && changePasswordForm.get('oldPassword')?.hasError('required')" >* Old password is required</span>
                </div>

                <div class="passwordWrapper InputWrapper">
                    <label for="userNewPassword">Enter your new password</label>
                    <input type="password" name="newPassword" id="userNewPassword" formControlName="newPassword" placeholder="New Password" autocomplete="off">
                    <span class="text_Validator" *ngIf="changePasswordForm.get('newPassword')?.touched && changePasswordForm.get('newPassword')?.hasError('required')" >* New password is required</span>
                </div>

                <div class="submitbtnWrapper">
                    <button [disabled]="!changePasswordForm.valid" type="submit" class="btn btn-primary">Reset password</button>
                </div>
            </form>
        </div>
    </div>
</section>
