<section class="ChangeWrapper">
    <div class="leftSideWrapper">
        <img src="../../../assets/Login_SideBanner_Png.png" alt="sidebanner_image">
    </div>

    <div class="rightSideWrapper">
        <div class="logoWrapper">
            <img src="../../../assets/Logo.png" alt="login_logo">
        </div>

        <div class="changePasswordForm_Wrapper">
            <form [formGroup]="changePasswordForm"  (submit)="onSubmitChangePasswordForm()" >
                <div class="heading">
                    <p>Change Password</p>
                </div>

                <div class="passwordWrapper InputWrapper">
                    <label for="userOldPassword">Enter your old password</label>
                    <input [type]="oldPassword ? 'text' : 'password'" name="oldPassword" id="userOldPassword" formControlName="oldPassword" placeholder="Old Password" autocomplete="off">
                    <span style="color: red;" class="text_Validator" *ngIf="changePasswordForm.get('oldPassword')?.touched && changePasswordForm.get('oldPassword')?.hasError('required')" >* Old password is required</span>
                    <span class="password-toggle" (click)="oldPasswordShowHide()" 
                        >
                        <i class="fa-solid fa-eye" [hidden]="!oldPassword"></i>
                        <i class="fa-solid fa-eye-slash" [hidden]="oldPassword"></i>
                    </span>
                </div>

                <div class="passwordWrapper InputWrapper">
                    <label for="userNewPassword">Enter your new password</label>
                    <input [type]="showPassword ? 'text' : 'password'" name="newPassword" id="userNewPassword" formControlName="newPassword" placeholder="New Password" autocomplete="off">
                    <span style="color: red;" class="text_Validator" *ngIf="changePasswordForm.get('newPassword')?.touched && changePasswordForm.get('newPassword')?.hasError('required')" >* New password is required</span>
                    <span style="color: red;" class="text_Validator" *ngIf="changePasswordForm.get('newPassword')?.hasError('noSpaces')">* No spaces allowed</span>
                    <span class="password-toggle" (click)="passwordShowHide()" 
                        >
                        <i class="fa-solid fa-eye" [hidden]="!showPassword"></i>
                        <i class="fa-solid fa-eye-slash" [hidden]="showPassword"></i>
                    </span>

                    <div class="text-sm" *ngIf="changePasswordForm.get('newPassword')?.dirty">
                        <span class="block text_Validator"
                          [ngStyle]="{'color': changePasswordForm.get('newPassword')?.value?.match('^(?=.*[A-Z])') ? 'green' : 'red'}"
                          > 
                          At least one uppercase letter.
                        </span>

                        <span class="block text_Validator"
                          [ngStyle]="{'color': changePasswordForm.get('newPassword')?.value?.match('^(?=.*[a-z])') ? 'green' : 'red'}"
                          > At least one lowercase letter.
                        </span>

                        <span class="block text_Validator" 
                        [ngStyle]="{'color': changePasswordForm.get('newPassword')?.value?.match('^(.*[0-9].*)') ? 'green' : 'red'}"
                        > 
                          At least one digit.
                        </span>

                        <span class="block text_Validator" 
                        [ngStyle]="{'color': changePasswordForm.get('newPassword')?.value?.match('^(?=.*[!@#$%^&*])') ? 'green' : 'red'}"
                        > 
                          At least one special character.
                        </span>

                        <span class="block text_Validator"
                        [ngStyle]="{'color': changePasswordForm.get('newPassword')?.value?.match('.{8,}') ? 'green' : 'red'}"
                        >
                           At least 8 characters long.
                        </span>
                    </div>
                </div>

                <div class="passwordWrapper InputWrapper">
                    <label for="confirmNewPassword">Confirm your new password</label>
                    <input [type]="showConfirmPassword ? 'text' : 'password'" name="confirmNewPassword" id="confirmNewPassword" formControlName="confirmNewPassword" placeholder="Confirm New Password" autocomplete="off">
                    <span class="password-toggle" (click)="confirmPasswordShowHide()" 
                        >
                        <i class="fa-solid fa-eye" [hidden]="!showConfirmPassword"></i>
                        <i class="fa-solid fa-eye-slash" [hidden]="showConfirmPassword"></i>
                    </span>
                    <span style="color: red;" class="text_Validator" *ngIf="changePasswordForm.get('confirmNewPassword')?.touched && changePasswordForm.get('confirmNewPassword')?.hasError('required')" >* New password is required</span>
                    <span style="color: red;" class="text_Validator"
                    *ngIf="changePasswordForm?.errors?.['mismatch'] && changePasswordForm.get('confirmNewPassword')?.touched ">
                    * Confirm password doesn't match with new password
                   </span>
                </div>

                <div class="submitbtnWrapper">
                    <button [disabled]="!changePasswordForm.valid" type="submit" class="btn btn-primary">Change password</button>
                </div>
            </form>
        </div>
    </div>
</section>
