<section class="main-wrapper">
    <div class="leftSideWrapper">
        <img src="../../../assets/Login_SideBanner_Png.png" alt="sidebanner_image">
    </div>

    <div class="rightSideWrapper">
        <div class="logoWrapper">
            <img src="../../../assets/Logo.png" alt="login_logo">
        </div>

        <div class="forgotPasswordForm_Wrapper">
            <form [formGroup]="forgotPasswordForm"  (submit)="onSubmitForgotPasswordForm()" >
                <div class="heading">
                    <p>Forgot Password</p>
                </div>

                <div class="emailWrapper InputWrapper">
                    <label for="userEmail">Enter your email address</label>
                    <input type="email" name="email" id="userEmail" formControlName="email" placeholder="Enter Email" autocomplete="off">
                    <span class="text_Validator" *ngIf="forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.hasError('required')" >* Email is required</span>
                    <span class="text_Validator" *ngIf="forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.hasError('email')" >* Must have a valid email</span>
                </div>


                <div class="submitbtnWrapper">
                    <button [disabled]="!forgotPasswordForm.valid" type="submit" class="btn btn-primary">Send Link to my email</button>
                </div>
            </form>

            <div class="goBackWrapper">
                Back to Sign In  ? <a routerLink="">Go Back</a>
            </div>
        </div>
    </div>
</section>