<section class="main">
    <div class="sidebar-wrapper">
        <app-sidebar [isActive]="2" />
    </div>

    <div class="main-content">
        <app-header [active]="1" />

        <div class="main-wrapper">
            <div class="heading-wrapper">
                <img routerLink="" src="../../../assets/Arrow - Left Circle.png" alt="arrow-left">
                <span routerLink="">
                    Add User
                </span>
            </div>


            <div class="add-user-form-wrapper">
                <form class="add-user-form" [formGroup]="addUserForm" (submit)="onAddUserFormSubmit()">
                    <div class="form-heading-wrapper">
                        <p>User Detail</p>
                    </div>


                    <div class="imageUpload-wrapper">
                        <div class="imgWrapper">
                            <img *ngIf="!imgSrc" src="../../../assets/ImageUpload_icon.png" alt="imageUpload-wrapper">
                            <img *ngIf="imgSrc" [src]="imgSrc" class="userdp" src="../../../assets/user_dp.png" alt="">
                        </div>

                        <div class="imgInput-wrapper">
                            <span class="file-name">Upload User image here</span>
                            <label for="file-input" class="file-label">Choose a file</label>
                            <input type="file" id="file-input" class="file-input" (change)="onFileChange($event)" />
                        </div>

                        <span class="text-validator" *ngIf="!validateImage() && addUserForm.touched">
                            * Image file is required
                          </span>
                    </div>


                    <div class="form-input-wrapper">
                        <div class="row form-input-row">
                            <div class="form-input col-md-4 col-12">
                                <label for="first-name">First Name</label>
                                <input type="text" id="first-name" name="firstname" placeholder="First Name" formControlName="firstName">
                                <span class="text-validator" *ngIf="
                                    addUserForm.get('firstName')?.touched &&
                                    addUserForm.get('firstName')?.hasError('required')">
                                    * First name Field is required
                                </span>

                                <span class="text-validator" *ngIf="
                                    addUserForm.get('firstName')?.touched &&
                                    addUserForm.get('firstName')?.hasError('pattern')">
                                    * First name should only contains alphabets excluding spaces
                                </span>
                            </div>

                            <div class="form-input col-md-4 col-12">
                                <label for="middle-name">Middle Name</label>
                                <input type="text" id="middle-name" name="middlename" placeholder="Middle Name" formControlName="middleName">
                                <span class="text-validator" *ngIf="
                                    addUserForm.get('middleName')?.touched &&
                                    addUserForm.get('middleName')?.hasError('required')">
                                    * Middle name Field is required
                                </span>

                                <span class="text-validator" *ngIf="
                                    addUserForm.get('middleName')?.touched &&
                                    addUserForm.get('middleName')?.hasError('pattern')">
                                    * Middle name should only contains alphabets excluding spaces
                                </span>
                            </div>

                            <div class="form-input col-md-4 col-12">
                                <label for="last-name">Last Name</label>
                                <input type="text" id="last-name" name="lastname" placeholder="Last Name" formControlName="lastName">

                                <span class="text-validator" *ngIf="
                                    addUserForm.get('lastName')?.touched &&
                                    addUserForm.get('lastName')?.hasError('pattern')">
                                    * Last name should only contains alphabets excluding spaces
                                </span>
                            </div>
                        </div>

                        <div class="row form-input-row">
                            <div class="form-input col-md-4 col-12">
                                <label for="gender">Gender</label>
                                <select id="gender" name="gender" formControlName="gender">
                                    <option class="selectedDefault" value="" disabled selected>Select</option>
                                    <option value=1>Male</option>
                                    <option value=2>Female</option>
                                    <option value=3>Other</option>
                                </select>

                                <span class="text-validator" *ngIf="
                                    addUserForm.get('gender')?.touched &&
                                    addUserForm.get('gender')?.hasError('required')">
                                    * Gender field is required
                                </span>
                            </div>

                            <div class="form-input col-md-4 col-12">
                                <label for="dob">Date of Birth</label>
                                <input type="date" id="dob" name="DateOfBirth" placeholder="MM/DD/YY" formControlName="dateOfBirth">
                                <span class="text-validator" *ngIf="
                                    addUserForm.get('dateOfBirth')?.touched &&
                                    addUserForm.get('dateOfBirth')?.hasError('required')">
                                    * Date of birth is required
                                </span>
                            </div>

                            <div class="form-input col-md-4 col-12">
                                <label for="email">Email</label>
                                <input type="text" id="email" name="email" placeholder="Email" formControlName="email">
                                <span class="text-validator" *ngIf="
                                    addUserForm.get('email')?.touched &&
                                    addUserForm.get('email')?.hasError('required')">
                                    * Email is required
                                </span>

                                <span class="text-validator" *ngIf="
                                addUserForm.get('email')?.touched &&
                                addUserForm.get('email')?.hasError('pattern')">
                                * Must have a valid email
                            </span>
                            </div>
                        </div>

                        <div class="row form-input-row">
                            <div class="form-input col-md-4 col-12">
                                <label for="dateOfJoining">Date of Joining</label>

                                <input type="date" id="dateOfJoining" name="dateOfJoining"
                                    placeholder="Date of Joining" formControlName="dateOfJoining">

                                <span class="text-validator" *ngIf="
                                    addUserForm.get('dateOfJoining')?.touched &&
                                    addUserForm.get('dateOfJoining')?.hasError('required')">
                                    * Date of joining field is required
                                </span>
                            </div>

                            <div class="form-input col-md-4 col-12">
                                <label for="phone">Phone</label>
                                <input type="text" prefix="+91 " [showMaskTyped]="true" type="text" mask="(000)-000-0000" id="phone" name="phone" placeholder="Phone"  formControlName="phone"  >

                                <span class="text-validator" *ngIf="
                                    addUserForm.get('phone')?.touched &&
                                    addUserForm.get('phone')?.hasError('required')">
                                    * Phone number field is required
                                </span>
                            </div>

                            <div class="form-input col-md-4 col-12">
                                <label for="alternatePhone">Alternate Phone</label>
                                <input type="text" prefix="+91 " [showMaskTyped]="true" type="text" mask="(000)-000-0000" id="alternatePhone" name="alternatePhone"
                                    placeholder="Alternate Phone" formControlName="alternatePhone">
                            </div>
                        </div>

                        <div formArrayName="PrashantDbAddresses">
                            <div class="row form-input-row" *ngFor="let address of PrashantDbAddresses.controls; let i=index" [formGroupName]="i">
                                <div class="form-input col-md-4 col-12">
                                    <label for="country-{{i}}">Country</label>
                                    <select id="country-{{i}}" formControlName="country" (change)="onCountryChange(i)" >
                                        <option value="" disabled>Select Country</option>
                                        <option *ngFor="let country of countries" [value]="country.name">{{ country.name }}</option>
                                    </select>

                                    <span class="text-validator"
                                        *ngIf="address.get('country')?.invalid && 
                                        address.get('country')?.touched">
                                        Country is required.
                                    </span>
                                </div>

                                <div class="form-input col-md-4 col-12">
                                    <label for="state-{{i}}">State</label>
                                    <select id="state-{{i}}" formControlName="state" [disabled]="!getStates(i).length" (change)="onStateChange(i)">
                                        <option value="" disabled>Select State</option>
                                        <option *ngFor="let state of getStates(i)" [value]="state.name">{{ state.name }}</option>
                                    </select>

                                    <span class="text-validator"
                                        *ngIf="address.get('state')?.invalid && 
                                        address.get('state')?.touched">
                                        State is required.
                                    </span>
                                </div>

                                <div class="form-input col-md-4 col-12">
                                    <label for="city-{{i}}">City</label>
                                    <select id="city-{{i}}" formControlName="city" [disabled]="!getCities(i).length">
                                        <option value="" disabled>Select City</option>
                                        <option *ngFor="let city of getCities(i)" [value]="city.name">{{ city.name }}</option>
                                    </select>

                                    <span class="text-validator"
                                        *ngIf="address.get('city')?.invalid && 
                                        address.get('city')?.touched">
                                        City is required.
                                    </span>
                                </div>

                                <div class="form-input col-md-4 col-12 mt-3">
                                    <label for="zipCode">Zip Code</label>
                                    <input type="text" id="zipCode" name="zipCode" placeholder="zipCode" formControlName="zipCode">

                                    <span class="text-validator"
                                        *ngIf="address.get('zipCode')?.errors?.['required'] && address.get('zipCode')?.touched">
                                        Zipcode is required.
                                    </span>

                                    <span class="text-validator"
                                        *ngIf="address.get('zipCode')?.errors?.['maxlength'] || address.get('zipCode')?.errors?.['minlength']">
                                        Zipcode must of 6 digit.
                                    </span>

                                    <span class="text-validator"
                                        *ngIf="address.get('zipCode')?.errors?.['pattern']">
                                        Zipcode must contain numbers only.
                                    </span>
                                </div>
                            </div>

                            <div class="address-buttons-wrapper">
                                <button type="button" class="btn1" (click)="addSecondaryAddress()" *ngIf="PrashantDbAddresses.length < 2">Add Secondary Address</button>
                                <button type="button" class="btn2" (click)="removeSecondaryAddress()" *ngIf="PrashantDbAddresses.length === 2">Remove Secondary Address</button>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="inactive-checkbox-wrapper">
                        <input type="checkbox" formControlName="isActive" name="isActive" id="inactive">
                        <label for="inactive">Inactive</label>
                    </div> -->


                    <div class="submit-btn-wrapper">
                        <button type="submit" [disabled]="addUserForm.invalid" >Save</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>